body { background: none; }
	.content-interna {
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		width: 100%;
		height: 100vh;
		background: url('../../../src/images/bg-azimute-engenharia.jpg') center center no-repeat;
		background-size: cover;
		margin-top: 0;
	}

	.logo-holder {
		position: absolute;
		bottom: 60px;
		left: 0;
		right: 0;
		margin: auto;
		width: 230px;
		text-align: center;
	}

	.infos-holder {
		padding: 10px 10px;
		background: rgba(0,0,0,.4);
		border-radius: 30px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-between;
		margin-top: 40px;
	}

	.infos-holder a {
		color: #fff;
		font-size: 16px;
		font-weight: 500;
		display: flex;
		align-items: center;
		justify-content: center;
		text-decoration: none;
		margin: 0 15px;
	}

	a { transition: all .3s ease-in-out; }
	/* a:hover { opacity: .6; } */

	.infos-holder svg { margin-right: 10px; }

	.box-icon { 
		margin-bottom: 60px; 
		text-align: center;
		padding: 0 3px;
	}

	a .box-icon {
		color: #a7a7a7;
	}

	a .box-icon:hover {
		text-decoration: underline;
	}

	.icon-holder {
		height: 60px;
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		margin-bottom: 20px;
	}
	.box-icon span {
		display: block;
		font-weight: 600;
		/* text-transform: uppercase; */
		margin-bottom: 15px;
	}

	.img-azimute-engenharia {
		padding: 80px 0;
		background: url('../../../src/images/img-azimute-engenharia.jpg') right top no-repeat;
		background-size: cover;
	}
	.img-azimute-engenharia h2 { color: #fff; margin-top: 0; }
	.img-azimute-engenharia ul, .img-azimute-engenharia p { color: #fff; }
	.list-default { margin-bottom: 60px; padding: 0; padding-left: 17px; }
	.list-default li { margin-bottom: 10px; }

	.list-default {
		list-style: disc !important;
	}

	.social-media {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		text-align: center;
		padding: 40px 0;
	}

	.social-media strong {
		font-size: 16px;
		line-height: 20px;
		color: #fff;
		font-weight: 600;
	}


	.email {
		display: flex;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		margin: 0 30px;
		position: relative;
	}

	.email i {
		margin: 2px 10px 0 0;
	}

	.email a {
		margin-bottom: 0;
		color: #fff;
	}

	.social-media span {
		margin-left: 30px;
	}

	.social-media span:after {
		position: absolute;
		content: '';
		width: 1px;
		height: 35px;
		top: -7px;
		right: 0;
		background: #fff;
	}

	.social-media a:hover {
		text-decoration: none;
	}

    .redes-sociais {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

	.redes-sociais a {
		margin: 0 10px;
	}

	.redes-sociais a:first-child { margin-left: 0;}

	.social-media i {
		color: #008036;
		font-size: 20px;
	}
	@media (max-width: 968px) {
		.infos-holder a span { display: none; }
	}

	@media (max-width: 768px) {

		.social-media { flex-direction: column;}

		.social-media span:after { display: none;}

		.email { margin-bottom: 20px;}

	}